h1.class
p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, fuga consectetur explicabo repellat aperiam quae eius totam in ipsam placeat hic deserunt a recusandae earum eligendi necessitatibus! Culpa, reprehenderit, voluptas?
section.about
	nav.top-nav
		ul
			li
				a(href="#") item1
			li
				a(href="#") item2
			li
				a(href="#") item3
			li
				a(href="#") item4
			li
				a(href="#") item5
			li
				a(href="#") item6
			li
				a(href="#") item7
