
<h1 class="class"></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, fuga consectetur explicabo repellat aperiam quae eius totam in ipsam placeat hic deserunt a recusandae earum eligendi necessitatibus! Culpa, reprehenderit, voluptas?</p>
<section class="about">
  <nav class="top-nav">
    <ul>
      <li><a href="#">item1</a></li>
      <li><a href="#">item2</a></li>
      <li><a href="#">item3</a></li>
      <li><a href="#">item4</a></li>
      <li><a href="#">item5</a></li>
      <li><a href="#">item6</a></li>
      <li><a href="#">item7</a></li>
    </ul>
  </nav>
</section>